*{
margin:0;padding:0;box-sizing:border-box;
font-family:Poppins,Arial;
scroll-behavior:smooth;
}

body{
background:#0f172a;
color:white;
transition:.3s;
}

.light{
background:#f8fafc;
color:black;
}

/* Loader */
#loader{
position:fixed;
width:100%;
height:100%;
background:#020617;
display:flex;
justify-content:center;
align-items:center;
z-index:999;
}
.spinner{
width:50px;height:50px;
border:5px solid #38bdf8;
border-top:5px solid transparent;
border-radius:50%;
animation:spin 1s linear infinite;
}
@keyframes spin{100%{transform:rotate(360deg)}}

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:15px 25px;
position:fixed;
width:100%;
top:0;
background:#020617;
z-index:100;
}

.navbar ul{
display:flex;
gap:20px;
list-style:none;
}

.navbar a{
color:white;
text-decoration:none;
}

.logo span{color:#38bdf8}

#themeToggle{
background:none;
border:none;
font-size:20px;
cursor:pointer;
color:white;
}

.hero{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
padding-top:60px;
}

.typing{color:#38bdf8}

.btn{
padding:10px 25px;
background:#38bdf8;
border:none;
cursor:pointer;
margin-top:15px;
}

.services,.portfolio,.contact{
padding:60px 20px;
text-align:center;
}

.service-box,.gallery{
display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;
}

.card,.project{
background:#1e293b;
padding:30px;
border-radius:12px;
transition:.3s;
}

.card:hover,.project:hover{
transform:translateY(-10px);
background:#38bdf8;
color:black;
}

.contact form{
max-width:350px;
margin:auto;
display:flex;
flex-direction:column;
gap:10px;
}

.contact input,.contact textarea{
padding:10px;
}

.whatsapp{
position:fixed;
bottom:20px;
right:20px;
background:#25D366;
color:white;
font-size:28px;
padding:10px 15px;
border-radius:50%;
text-decoration:none;
}

footer{
background:#020617;
text-align:center;
padding:15px;
}
.footer{
background:#020617;
color:white;
padding:50px 20px 10px;
}

.footer-container{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:30px;
}

.footer-box h3{
margin-bottom:15px;
color:#38bdf8;
}

.footer-box p, .footer-box li{
font-size:14px;
line-height:1.8;
list-style:none;
}

.footer-box ul{
padding:0;
}

.footer-box a{
color:white;
text-decoration:none;
transition:.3s;
}

.footer-box a:hover{
color:#38bdf8;
padding-left:5px;
}

.social a{
font-size:20px;
margin-right:10px;
text-decoration:none;
}

.footer-bottom{
text-align:center;
margin-top:30px;
padding-top:10px;
border-top:1px solid #1e293b;
font-size:14px;
}